{% load static %}
<header class="header">
    <div class="container container--narrow">
      <a href="/" class="header__logo">
        <img src="{% static 'images/logo.svg' %}" alt="DevSearch Logo" />
      </a>
      <nav class="header__nav">
        <input type="checkbox" id="responsive-menu" />
        <label for="responsive-menu" class="toggle-menu">
          <span>Menu</span>
          <div class="toggle-menu__lines"></div>
        </label>
        <ul class="header__menu">
          <li class="header__menuItem"><a href="{% url 'Users:profiles-all' %}">Developers</a></li>
          <li class="header__menuItem"><a href="{% url 'project:projects' %}">Projects</a></li>
          {%  if request.user.is_authenticated %}
          <li class="header__menuItem"><a href="{% url 'Users:inbox' %}">Inbox</a></li>
          {% endif %}
          
          {% if request.user.is_authenticated %}
          <li class="header__menuItem"><a href="{% url 'Users:account' %}">My Account</a></li>
          
          <li class="header__menuItem"><a href="{% url 'Users:logout' %}" class="btn btn--sub">Logout</a></li>
          {% else %}
          <li class="header__menuItem"><a href="{% url 'Users:login' %} " class="btn btn--sub">Login</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>